.mainPost {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100px;
}

.form__outline {
    justify-content: center;
    background-color: #fafafa;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


/* Make chatHeader be right in the center of the container */
.postHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    height: 50px;
    background-color: #f5f5f5;
    border-radius: 15px 15px 0 0;
}

.mainPost__top {
    display: flex;
    border-bottom: 1px solid #eff2f5;
    padding: 15px;
}

.mainPost__top>form {
    display: flex;
    flex: 1;
}

.mainPost__top>form>input {
    border: none;
    outline-width: 0;
    padding: 5px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: #eff2f5;
}

.mainPost__button {
    position: relative;
    width: 160px;
    height: 50px;
    line-height: 48px;
    background: #0f5fca;
    margin: 10px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    cursor: pointer;
}

.mainPost__button::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #fb0092, #0000ff, #00ff00, #ffff00, #fb0094, #0000ff, #ff0000);
    animation: animated 20s linear infinite;
    background-size: 400%;
    opacity: 0;
    transition: .5s;
    -webkit-animation: animated 20s linear infinite;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.mainPost__button:hover::before,
.mainPost__button:hover::after {
    opacity: 1;
}

.mainPost__button::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #fb0092, #0000ff, #00ff00, #ffff00, #fb0094, #0000ff, #ff0000);
    animation: animated 20s linear infinite;
    background-size: 400%;
    filter: blur(20px);
    opacity: 0;
    transition: .5s;
    -webkit-animation: animated 20s linear infinite;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    -webkit-filter: blur(20px);
}

@keyframes animated {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 300% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.mainPost__button span {
    position: absolute;
    display: block;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    text-align: center;
    background: #0c0c0c;
    color: white;
    transition: 0.5s;
    z-index: 1;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.mainPost__button:hover span {
    color: rgba(255, 255, 255, 0.42);
}

.mainPost__button span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255, 255, 255, 0.1);
}

.mainPost__input {
    flex: 1;
    width: 200px;
}

.mainPost__image {
    font-size: 16px;
    background: white;
    border-radius: 50px;
    box-shadow: 5px 5px 10px black;
    width: 350px;
    outline: none;
}

::-webkit-file-upload-button {
    color: white;
    background: #0e5fca;
    padding: 20px;
    border: none;
    border-radius: 50px;
    box-shadow: 1px 0 1px 1px #17007c;
    outline: none;
}

::-webkit-file-upload-button:hover {
    background: #1777f2;
    box-shadow: 1px 0 1px 1px #6b4559;
    cursor: pointer;
}

.mainPost__bottom {
    display: flex;
    justify-content: space-evenly;
}

.mainPost__option {
    padding: 5px;
    display: flex;
    align-items: center;
    color: grey;
    margin: 5px;
}

.mainPost__option>h3 {
    font-size: medium;
    margin-left: 10px;
    cursor: pointer;
}

.mainPost__option:hover {
    background-color: #eff2f5;
    border-radius: 20px;
}
