.post {
    width: 100%;
    max-width: 500px;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid lightgrey;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);

    /* May need to change */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
}

.post__header {
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
    margin: 20px;
}

.post__header>.post__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.post__info>h3 {
    font-size: medium;
}

.post__info>p {
    font-size: small;
    color: #8c8c8c;
}

.post__image {
    height: 30rem !important;
    width: 100%;
    object-fit: contain;
    background: cover;
    height: auto;
    border-radius: 15px;
    background-color: whitesmoke;
    /* border: 1px solid lightgrey; */
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    /* margin-bottom: 1%; */
}

.post__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-radius: 20px;
}

.post__text {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    font-weight: normal;
    padding-left: 12px;
    padding-bottom: 10px;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    overflow-wrap: break-word;
    word-break: break-all;
}

.post__options {
    display: flex;
    flex-direction: row;
    height: 35px;
    width: 450px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding: 15px;
    padding-top: 10px;
    justify-content: space-evenly;
    color: #8c8c8c;
    /* cursor: pointer; */
    margin: 10px 0 10px 10px;
}

.post__option {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.post__option>p {
    margin-left: 10px;
}

.post__option:hover {
    background-color: #eff2f5;
    border-radius: 10px;
    padding: 10px;
}

/* .fa-heart {
    color: #ff0000;
} */

.fa-edit {
    color: #00d43c;
}

.fa-trash-alt {
    color: maroon;
}

.delete-button-confirmation {
    background-color: #ff1a09;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}


/* .delete-button__cancel {
    background-color: #307f10;
border: none;
color: white;
padding: 5px 5px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
cursor: pointer;
margin-left: 10px;
}*/
